.Seats main { 
    position: relative;
    top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 137px;
}

.Seats h2 {
    font-size: 24px;
    margin: 43px 0 15px;
    color: #293845;
}

.Seats .seat-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 7px;
}

.Seats .example-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 41px;
}

.Seats .circle {
    width: 25px;
    height: 25px;
}

.Seats p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    color: #4e5a65;
}

.Seats .selected {
    background-color: #8dd7cf;
    border: 1px solid #1aae9e;
    border-radius: 50%;
}

.Seats .available {
    background-color: #c3cfd9;
    border: 1px solid #7b8b99;
    border-radius: 50%;
}

.Seats .unavailable {
    background-color: #fbe192;
    border: 1px solid #f7c52b;
    border-radius: 50%;
}

.Seats form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.Seats form div {
    min-width: 100%;
    margin-bottom: 15px;
}

.Seats form div h2 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 8px;
}

.Seats h3 {
    font-size: 18px;
    line-height: 21px;
    color: #293845;
}

.Seats form input {
    width: 100%;
    height: 51px;
    border: 1px solid #d5d5d5;
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
    border-radius: 3px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    padding-left: 18px;
}

.Seats ::placeholder {
    color: #afafaf;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}

.Seats form button {
    width: 225px;
    height: 42px;
    background-color: #e8833a;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    margin: 57px auto;
    border: none;
    border-radius: 3px;
}